*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

header, footer {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: rgb(197, 193, 193);
    min-height: 4rem;
}

header {
    justify-content: space-between;
}

footer {
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 8%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 30px;
}

#titulo {
    padding-bottom:20px;
}
#contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.card {
    width: 200px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card > h2 {
    text-align: center;
}
.card > p {
    text-align: center;
}

.textContainer {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
img {
    object-fit: fill;
    height: 50%;
    width: 100%;
}

#lista {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lista > h2 {
    padding: 20px;
}